<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a room</title>
</head>
<body>

{% extends 'base.html' %}
<!--{% block title %}Add room{% endblock %}-->
{% block content %}

    <h1>Add a room</h1>
    <form method="POST">
        {% csrf_token %}
        <label>
            Name:
            <input type="text" name="name">
        </label>
        <br>
        <label>
            capacity:
            <input type="number" name="capacity">
        </label>
        <br>
          <label>
                <input type="checkbox" name="projector" value="True" checked> There is a projector
          </label>
        <br>
            <label>
                <input type="checkbox" name="availability" value="True" checked> Is available
          </label>
        <br>
        <button type="submit">Add</button>
    </form>
{% endblock %}
</body>
</html>

